footer {
    padding-top: 90px;
}

.footer-container {
    width: 100%;
    height: 427px;
    background-color: #E6E6E6;
    max-width: 2000px;
    margin: auto;

    .footer-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-block: 35px;
        padding-inline: 278px;
        position: relative;

        &::before {
            position: absolute;
            content: " ";
            border: 1px solid #BEBEBE;
            width: 72%;
            bottom: 20px;
            opacity: 50%;
        }

        h3 {
            color: #707070;
            font-family: $details-font;
            font-size: 24px;
            font-weight: 300;
        }

        .social-media {
            a {
                padding-inline: 10px;
            }

            img {
                width: 32px;

                &:hover {
                    background-color: #fff;
                    border-radius: 10px;
                    transform: translateY(-5px);
                    transition: 0.3s;
                }
            }
        }
    }

    .footer-content-holder {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 70%;
        margin: auto;

        .footer-content-item {
            display: flex;
            flex-direction: column;
            width: 25%;

            h3 {
                color: #707070;
                font-size: 24px;
                font-family: $details-font;
                font-weight: lighter;
            }

            a {
                text-decoration: none;
                color: #707070;
                font-family: $details-font;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 10px;

                &:active,
                :visited,
                :checked {
                    text-decoration: none;
                }

                &:hover {
                    color: white;
                }
            }

        }
    }

}

.copy-rights {
    color: #4E4E4E;
    font-size: 14px;
    font-family: $secondary-font;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 61px;
}

@media all and(max-width:1222px) {
    .footer-container {
        .footer-links {
            padding-inline: 20px;

            &::before {
                width: 84%;
            }

        }

        .footer-content-holder {
            justify-content: center;
            width: 100%;
        }
    }
}

@media all and (max-width:830px) {
    .footer-container {
        height: auto;

        .footer-links {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-inline: 120px;
            width: 70%;
            margin-bottom: 90px;

            &::before {
                width: 84%;
            }

            h3 {
                margin-bottom: 30px;
            }

            .social-media {
                display: inline-flex;
                justify-content: flex-start;
                align-items: flex-start;

                a {
                    padding-inline: 0;
                    padding-right: 20px;
                }

            }
        }

        .footer-content-holder {
            flex-direction: column;
            width: 70%;

            .footer-content-item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 70%;
                padding-bottom: 60px;
            }
        }
    }

}

@media all and (max-width:568px) {
    footer {
        padding-top: 0px;
    }

    .footer-container {
        height: auto;

        .footer-links {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 90px;
            padding-inline: 70px;

            &::before {
                width: 74%;
            }

            h3 {
                font-size: 20px;
                margin-bottom: 30px;
                font-weight: lighter;
            }

            .social-media {
                display: inline-flex;
                justify-content: flex-start;
                align-items: flex-start;

                a {
                    padding-inline: 0;
                    padding-right: 20px;
                }

            }
        }

        .footer-content-holder {
            flex-direction: column;
            width: 60%;

            .footer-content-item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 70%;
                padding-bottom: 60px;

                a {
                    font-size: 12px;
                    font-weight: 400;
                }

                h3 {
                    font-size: 20px;
                }

            }
        }
    }

}

@media all and (max-width:350px) {
    footer {
        padding-top: 0px;
    }

    .footer-container {
        height: auto;

        .footer-links {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 90px;
            padding-inline: 30px;

            &::before {
                width: 74%;
            }

            h3 {
                font-size: 20px;
                margin-bottom: 30px;
                font-weight: lighter;
            }

            .social-media {
                display: inline-flex;
                justify-content: flex-start;
                align-items: flex-start;

                a {
                    padding-inline: 0;
                    padding-right: 20px;
                }

            }
        }

        .footer-content-holder {
            flex-direction: column;
            width: 60%;

            .footer-content-item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 70%;
                padding-bottom: 60px;

                a {
                    font-size: 12px;
                    font-weight: 400;
                }

                h3 {
                    font-size: 20px;
                }

            }
        }
    }

}