.about {
    background-color: #DFCCC2;
    background-image: url('.../images/vectorgreen1.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-position-x: 10%;

    @media all and (max-width:992px) {
        background-position-y: 60%;
        background-position-x: 20%;
    }

    @media all and (max-width:768px) {
        background-position-y: 50%;
        background-position-x: 20%;
    }
    @media all and (max-width:424px) {
        background-position-y: 40%;
        background-position-x: 20%;
        background-size: 40%;
    }
    p {
        font-family: $primary-font;
    }

    .vector3 {
        position: absolute;
        bottom: -20px;
        right: 0;
        width: 30%;

        @media all and (max-width:978px) {
            display: none;
        }
    }

    h1 {
        color: #fff;
        font-family: $headers-font;
        font-size: 40px;
        line-height: 46px;
        letter-spacing: -2.25px;

        @media all and(max-width:535px) {
            font-size: 30px;
        }
        @media all and(max-width:424px) {
            font-size: 33px;
            padding-inline: 0px !important;
        }
    }

    h2 {
        color: #fff;
        font-family: $headers-font;
        font-size: 40px;
        line-height: 46px;
        letter-spacing: -2.25px;
        @media all and(max-width:424px) {
            font-size: 28px !important;
        }
    }

    .bg-abstract {
        background-image: url('.../images/abstractabout.png');
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 85%;

        @media all and (max-width:992px) {
            padding-bottom: 100px;
        }
        @media all and (max-width:424px) {
            background-position:right ;
            background-size: 50%;
        }
    }

    @media all and (max-width:898px) {
        .about-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}