header {
    background-image: url("/images/navbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 816px;
    max-width: 2000px;
    margin: auto;
}

.main-nav-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        margin-left: 30px;
    }

    .main-nav {

        a:visited,
        a:link,
        a:active {
            text-decoration: none;
            color: black;
        }

        a {
            margin-inline: 30px;
            font-size: 1.3rem;
            padding: 15px;
            font-family: $menu-font;
            border-radius: 35px;
            position: relative;

            &:hover {
                color: $navigation-color;
                transition: 0.4s;

                &::before {
                    content: "";
                    position: absolute;
                    background-color: $navigation-color;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    animation: menuAnmation 0.4s ease-in-out;
                }

            }
        }
    }
}

.header-contact {
    display: block;
    width: 35%;
    text-align: center;
    margin: 200px 0px 0px 100px;
    letter-spacing: 1px;
    #header-span1 {
        font-family: $header-font;
        font-size: 30px;
        color: rgb(85, 81, 81);
    }

    #header-span2 {
        font-family: $header-font;
        font-size: 45px;
        color: rgb(85, 81, 81);
    }

}

.contact-btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 10px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $header-font;
        font-size: 40px;
        color: white;
        background-color: rgba(224, 62, 224, 0.329);
        width: 70%;
        height: 100px;
        border-radius: 50px;

        &:hover {
            background-color: grey;
            transform: translateX(10px);
            transition: 0.3s;
        }
    }
}

@keyframes menuAnmation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}