@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

$navigation-font: 'Barlow Condensed', sans-serif;
$headers-font: 'Bellefair', serif;
$primary-text-font: 'Barlow', sans-serif;

$primary-color: #D0D6F9;