@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 36px;
  font-family: "Cairo";
  color: #000000;
  font-weight: bold;
  line-height: 35px;
}

.section-about {
  display: flex;
  padding-top: 180px;
  padding-inline: 20px;
}

.section-about,
.innovations-section,
.car-gallery-pictures,
.testdrive-contact {
  max-width: 1900px;
  margin: auto;
}

.overflowedbody {
  overflow: hidden;
}

@media all and (max-width: 668px) {
  h2 {
    font-size: 28px;
    font-weight: bold;
  }
}
.swiper-holder {
  height: 100vh;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  min-height: 900px;
  position: relative;
  margin: auto;
  max-width: 3000px;
}
.swiper-holder .swiper {
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  margin: 0;
}
.swiper-holder .swiper .swiper-menu {
  width: 100%;
  height: 110px;
  padding-block: 20px;
}
.swiper-holder .swiper .swiper-menu strong {
  font-family: "Cairo";
  font-size: 30px;
  color: #fff;
}
.swiper-holder .swiper .swiper-menu span {
  font-size: 30px;
  font-family: "Cairo";
  color: #fff;
  margin-left: 5px;
}
.swiper-holder .swiper .swiper-menu .swiper-menu-text-content {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
.swiper-holder .swiper .swiper-menu img {
  position: absolute;
  right: 7%;
}
.swiper-holder .swiper .main-nav {
  display: flex;
  position: relative;
  width: 90%;
}
.swiper-holder .swiper .main-nav a {
  font-size: 33px;
  font-family: "Cairo";
  margin-left: 60px;
  font-weight: bold;
}
.swiper-holder .swiper .main-nav a:hover {
  color: #D6D6D6;
}
.swiper-holder .swiper .main-nav :visited,
.swiper-holder .swiper .main-nav :link,
.swiper-holder .swiper .main-nav :active {
  text-decoration: none;
  color: #fff;
}
.swiper-holder .swiper .main-nav::after {
  content: " ";
  position: absolute;
  width: 96%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 60px;
  opacity: 25%;
}
.swiper-holder .swiper .swiper-wrapper {
  position: absolute;
  z-index: -1;
}
.swiper-holder .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-holder .swiper .swiper-mid {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  padding-top: 20px;
  padding-bottom: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.swiper-holder .swiper .swiper-mid .mid-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
}
.swiper-holder .swiper .swiper-mid .mid-content h1 {
  font-family: "Cairo";
  color: #fff;
  font-size: 64px;
  margin: 0;
}
.swiper-holder .swiper .swiper-mid .mid-content span {
  color: white;
  font-family: "Cairo";
  font-size: 20px;
}
.swiper-holder .swiper-button {
  width: 372px;
  min-height: 62px;
  background: #3369D3;
  font-family: "Cairo";
  color: #fff;
  border: none;
  margin: auto;
  margin-bottom: 50px;
}
.swiper-holder .swiper-button:hover {
  color: black;
  background-color: #858585;
}
.swiper-holder .swiper-pagination {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  position: relative;
  margin-left: 11%;
  width: 20% !important;
  margin-bottom: 86px;
}
.swiper-holder .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3369D3 !important;
}
.swiper-holder .swiper-pagination .swiper-pagination-bullet {
  width: 60px;
  height: 5px;
  border-radius: 0;
  margin: 5px;
  opacity: 1;
  background-color: #fff;
}

@media all and (max-width: 1650px) {
  .swiper-holder .swiper .swiper-menu img {
    right: 5%;
  }
}
@media all and (max-width: 1550px) {
  .swiper-holder .swiper .swiper-mid .mid-content {
    margin-left: 30px;
  }
}
@media all and (max-width: 1225px) {
  .swiper-holder .swiper .swiper-pagination {
    width: 40% !important;
  }
  .swiper-holder .swiper .swiper-menu img {
    right: 2%;
  }
}
@media all and (max-width: 886px) {
  .swiper-holder .swiper .swiper-pagination {
    width: 100% !important;
  }
  .swiper-holder .swiper .main-nav {
    display: none;
  }
  .swiper-holder .swiper .swiper-menu .swiper-menu-text-content {
    display: none;
  }
  .swiper-holder .swiper .swiper-menu img {
    right: 32px;
  }
}
@media all and (max-width: 558px) {
  .swiper-holder .swiper .swiper-mid {
    padding: 0;
  }
  .swiper-holder .swiper .swiper-mid .mid-content {
    margin: 90px 0px 0px 32px;
    width: 50%;
  }
  .swiper-holder .swiper .swiper-mid .mid-content h1 {
    font-size: 48px;
    line-height: 60px;
    margin-block: 30px;
  }
  .swiper-holder .swiper .swiper-mid .mid-content span {
    font-size: 16px;
    font-family: "Roboto";
    color: #D6D6D6;
    font-weight: 300;
  }
  .swiper-holder .swiper .swiper-pagination {
    width: 50% !important;
    margin: auto;
    margin-bottom: 30px;
  }
  .swiper-holder .swiper-slide img {
    object-position: 70%;
  }
  .swiper-holder .swiper-button {
    width: 269px;
    min-height: 46px;
    font-size: 14px;
    margin-bottom: 90px;
  }
}
.section-about {
  display: flex;
  padding-top: 180px;
  padding-inline: 20px;
}
.section-about .about-images {
  display: flex;
  width: 49%;
}
.section-about .about-images .about-image-lowered {
  margin-top: 360px;
}
.section-about .about-images .about-image-lowered img {
  width: 100%;
}
.section-about .about-images .about-image-upper {
  margin-left: 16px;
}
.section-about .about-images .about-image-upper img {
  width: 100%;
}
.section-about .about-product-description {
  width: 49%;
  padding-left: 100px;
}
.section-about .about-product-description .description-item {
  width: 25%;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  margin: 8px 30px 50px 0px;
}
.section-about .about-product-description .description-item h2 {
  margin-bottom: 30px;
}
.section-about .about-product-description .description-item span {
  position: relative;
  font-size: 23px;
  font-family: "Cairo";
  color: black;
  margin-bottom: 22px;
}
.section-about .about-product-description .description-item span::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #707070;
  bottom: 0;
  opacity: 25%;
}
.section-about .about-product-description .description-item span::after {
  position: absolute;
  content: " ";
  width: 10%;
  height: 1px;
  background-color: #6D6D6D;
  bottom: 0;
  left: 0;
  opacity: 100%;
}
.section-about .about-product-description .description-item p {
  font-family: "Open Sans";
  color: #4E4E4E;
  font-size: 14px;
}

@media all and (max-width: 1222px) {
  .section-about {
    flex-direction: column;
    padding-inline: 20px;
  }
  .section-about .about-images {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
  }
  .section-about .about-images .about-image-lowered {
    width: 40%;
  }
  .section-about .about-images .about-image-lowered img {
    width: 100%;
  }
  .section-about .about-images .about-image-upper {
    width: 60%;
  }
  .section-about .about-images .about-image-upper img {
    width: 100%;
  }
  .section-about .about-product-description {
    width: 100%;
  }
  .section-about .about-product-description .about-product-description {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .section-about {
    padding-inline: 0px;
  }
  .section-about .about-product-description {
    flex-direction: column;
  }
  .section-about .about-product-description .description-item {
    width: 100%;
    margin: 8px 0px 50px 0px;
    padding-right: 100px;
  }
  .section-about .about-product-description .description-item span::before,
.section-about .about-product-description .description-item span ::after {
    width: 100%;
  }
  .section-about .about-images .about-image-lowered {
    margin-top: 220px;
  }
}
@media all and (max-width: 668px) {
  .section-about {
    padding-inline: 0px;
  }
  .section-about .about-product-description {
    flex-direction: column;
  }
  .section-about .about-product-description .description-item {
    width: 100%;
    margin: 8px 0px 50px 0px;
    padding-right: 100px;
  }
  .section-about .about-product-description .description-item span {
    font-weight: bold;
    font-size: 16px;
  }
  .section-about .about-product-description .description-item p {
    font-family: "Roboto";
  }
  .section-about .about-images .about-image-lowered {
    margin-top: 220px;
  }
}
@media all and (max-width: 424px) {
  .section-about {
    flex-direction: column;
  }
  .section-about .about-images {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
  }
  .section-about .about-images .about-image-lowered {
    width: 40%;
    margin-top: 120px;
  }
  .section-about .about-images .about-image-lowered img {
    width: 100%;
  }
  .section-about .about-images .about-image-upper {
    width: 60%;
    margin-left: 10px;
  }
  .section-about .about-images .about-image-upper img {
    width: 100%;
  }
  .section-about .about-product-description {
    width: 100%;
    padding-left: 33px;
  }
  .section-about .about-product-description h2 {
    font-size: 24px;
  }
  .section-about .about-product-description .description-item {
    padding-right: 72px;
  }
}
.innovations-section {
  display: flex;
  padding-block: 120px;
  padding-inline: 20px;
}
.innovations-section .innovations-content-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 49%;
  margin-left: 100px;
}
.innovations-section .innovations-content-holder span {
  font-family: "Open Sans";
  color: #707070;
  font-size: 20px;
  margin-top: 25px;
}
.innovations-section .innovations-content-holder p {
  font-family: "Open Sans";
  color: #4E4E4E;
  font-size: 20px;
  margin-top: 25px;
  text-align: left;
  width: 536px;
}
.innovations-section .innovations-img-holder {
  display: flex;
  width: 49%;
}
.innovations-section .innovations-img-holder .upper-innovations-img {
  margin-bottom: 360px;
  margin-left: 16px;
}
.innovations-section .innovations-img-holder .upper-innovations-img img {
  width: 100%;
}
.innovations-section .innovations-img-holder .down-innovations-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.innovations-section .innovations-img-holder .down-innovations-img img {
  width: 100%;
}

.car-gallery-pictures {
  padding-block: 171px;
}
.car-gallery-pictures img {
  width: 100%;
}

@media all and (max-width: 1222px) {
  .innovations-section {
    flex-direction: column-reverse;
  }
  .innovations-section .innovations-content-holder {
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .innovations-section .innovations-img-holder {
    width: 100%;
    margin-bottom: 90px;
  }
  .innovations-section .innovations-img-holder .down-innovations-img {
    width: 70%;
  }
  .innovations-section .innovations-img-holder .down-innovations-img img {
    object-fit: cover;
  }
  .innovations-section .innovations-img-holder .upper-innovations-img {
    width: 40%;
  }
}
@media all and (min-width: 768px) {
  #car-gallery-XS {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .innovations-section {
    padding-inline: 0px;
  }
  .innovations-section .innovations-img-holder .upper-innovations-img {
    margin-bottom: 260px;
  }
  .innovations-section .innovations-content-holder {
    padding-inline: 100px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #car-gallery-XL {
    display: none;
  }
  #car-gallery-XS {
    width: 100%;
    object-fit: cover;
    padding-inline: 10px;
  }
}
@media all and (max-width: 668px) {
  .innovations-section .innovations-content-holder {
    padding-inline: 30px;
  }
  .innovations-section .innovations-content-holder span {
    font-size: 16px;
    font-weight: 300;
  }
  .innovations-section .innovations-content-holder p {
    font-family: "Roboto";
    width: 100%;
  }
}
@media all and (max-width: 424px) {
  .innovations-section {
    flex-direction: column-reverse;
    padding-bottom: 60px;
  }
  .innovations-section .innovations-content-holder {
    margin: auto;
    width: 100%;
  }
  .innovations-section .innovations-content-holder h2 {
    font-size: 24px;
  }
  .innovations-section .innovations-content-holder p {
    font-size: 13px;
  }
  .innovations-section .innovations-img-holder {
    width: 100%;
    margin-bottom: 90px;
  }
  .innovations-section .innovations-img-holder .down-innovations-img {
    width: 70%;
  }
  .innovations-section .innovations-img-holder .down-innovations-img img {
    object-fit: cover;
  }
  .innovations-section .innovations-img-holder .upper-innovations-img {
    width: 40%;
    margin-bottom: 140px;
    margin-left: 10px;
  }
  .car-gallery-pictures {
    padding-top: 30px;
  }
}
.testdrive-contact {
  display: flex;
  padding-block: 120px;
  position: relative;
}
.testdrive-contact .contact-form-holder {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding-block: 90px;
  width: 812px;
  height: auto;
  box-shadow: 3px 3px 60px rgba(0, 0, 0, 0.0705882353);
  background-color: #fff;
  position: relative;
  z-index: 5;
}
.testdrive-contact .contact-form-holder .contact-form-text-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 0 90px 90px 90px;
}
.testdrive-contact .contact-form-holder .contact-form-text-content h2 sup {
  font-family: "Cairo";
  color: black;
  font-size: 36px;
}
.testdrive-contact .contact-form-holder .contact-form-text-content p {
  font-size: 20px;
  font-family: "Open Sans";
  line-height: 40px;
  color: #707070;
  margin-top: 15px;
}
.testdrive-contact .contact-form-holder .contact-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 0 90px 90px 90px;
}
.testdrive-contact .contact-form-holder .contact-form .main-form {
  text-align: left;
  width: 100%;
}
.testdrive-contact .contact-form-holder .contact-form .main-form input[type=name],
.testdrive-contact .contact-form-holder .contact-form .main-form input[type=email],
.testdrive-contact .contact-form-holder .contact-form .main-form input[type=tel] {
  width: 90%;
  height: 52px;
  border: 1px solid #DCDCDC;
  margin-bottom: 30px;
}
.testdrive-contact .contact-form-holder .contact-form .main-form input::placeholder {
  padding-left: 22px;
  color: #4E4E4E;
  font-family: "Open Sans";
}
.testdrive-contact .contact-form-holder .contact-form .main-form input[type=radio] {
  width: 22px;
  height: 22px;
  margin-inline: 10px;
  margin-block: 30px;
}
.testdrive-contact .contact-form-holder .contact-form .main-form input[type=submit] {
  color: #fff;
  background-color: #3369D3;
  height: 63px;
  width: 243px;
  text-transform: uppercase;
  border: none;
}
.testdrive-contact .contact-form-holder .contact-form .main-form label {
  color: #707070;
  font-family: "Open Sans";
}

#sidecar {
  object-fit: contain;
  position: absolute;
  z-index: -5;
  bottom: 0;
  left: 10%;
}

#sidecarpath {
  object-fit: contain;
  position: absolute;
  z-index: -6;
  bottom: 200px;
  left: 8%;
}

#frontcar {
  object-fit: contain;
  position: absolute;
  z-index: -6;
  right: 8%;
  top: 300px;
}

#frontcarpath {
  object-fit: contain;
  position: absolute;
  z-index: -7;
  right: 10%;
  top: 380px;
  transform: rotate(100deg);
}

#leftsidedpath {
  object-fit: contain;
  position: absolute;
  z-index: -7;
  left: 20%;
  top: 280px;
  transform: rotate(170deg);
}

#downsidepath {
  object-fit: contain;
  position: absolute;
  z-index: -7;
  bottom: -30px;
  right: 30%;
  transform: rotate(110deg);
}

@media all and (max-width: 1700px) {
  #frontcar {
    object-fit: contain;
    position: absolute;
    z-index: -6;
    right: 0;
    top: 300px;
  }
  #frontcarpath {
    object-fit: contain;
    position: absolute;
    z-index: -7;
    right: 4%;
    top: 380px;
    transform: rotate(100deg);
  }
  #sidecar {
    object-fit: contain;
    position: absolute;
    z-index: -5;
    bottom: 0;
    left: 7%;
  }
  #sidecarpath {
    object-fit: contain;
    position: absolute;
    z-index: -6;
    bottom: 200px;
    left: 6%;
  }
}
@media all and (min-width: 830px) {
  #sidecarXs {
    display: none;
  }
  #sidecarpathXs {
    display: none;
  }
  #frontcarXs {
    display: none;
  }
  #frontcarpathXs {
    display: none;
  }
}
@media all and (max-width: 830px) {
  .testdrive-contact {
    padding-block: 200px;
  }
  .testdrive-contact .contact-form-holder .contact-form {
    padding: 0px 0px 20px 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .testdrive-contact .contact-form-holder .contact-form h3 {
    font-size: 40px;
  }
  .testdrive-contact .contact-form-holder .contact-form .main-form {
    width: 70%;
    margin: auto;
  }
  .testdrive-contact .contact-form-holder .contact-form .main-form label {
    margin-right: 30px;
  }
  #leftsidedpath {
    display: none;
  }
  #downsidepath {
    display: none;
  }
  #sidecarpath {
    display: none;
  }
  #frontcarpath {
    display: none;
  }
  #sidecar {
    display: none;
  }
  .testdrive-contact {
    overflow: hidden;
    padding-block: 0;
    padding-top: 280px;
  }
  #sidecarXs {
    position: relative;
    bottom: 100px;
    right: -50%;
  }
  #sidecarpathXs {
    position: absolute;
    bottom: 430px;
    right: -100px;
    z-index: -4;
  }
  #frontcar {
    display: none;
  }
  #frontcarXs {
    position: absolute;
    top: -70px;
    left: -220px;
    object-fit: contain;
    z-index: 7;
  }
  #frontcarpathXs {
    position: absolute;
    top: 200px;
    left: -50px;
    object-fit: contain;
    transform: rotate(100deg);
    z-index: 6;
  }
  .contact-form-text-content h2 {
    z-index: 9999;
    position: relative;
  }
}
@media all and (max-width: 678px) {
  #sidecarXs {
    position: relative;
    bottom: 60px;
    right: -50%;
  }
  #sidecarpathXs {
    position: absolute;
    bottom: 420px;
    right: -100px;
    z-index: -4;
  }
}
@media all and (max-width: 688px) {
  .testdrive-contact .contact-form-holder {
    width: 100%;
  }
  .testdrive-contact .contact-form-holder .contact-form-text-content h2 sup {
    font-size: 24px;
  }
  .testdrive-contact .contact-form-holder .contact-form .main-form {
    width: 80%;
  }
}
@media all and (max-width: 588px) {
  #sidecarXs {
    position: relative;
    bottom: 60px;
    right: -55%;
  }
  #sidecarpathXs {
    position: absolute;
    bottom: 420px;
    right: -100px;
    z-index: -4;
  }
}
@media all and (max-width: 544px) {
  .testdrive-contact .contact-form-holder .contact-form-text-content {
    padding-inline: 36px;
  }
  .testdrive-contact .contact-form-holder .contact-form-text-content h2 {
    font-size: 24px;
  }
  .testdrive-contact .contact-form-holder .contact-form-text-content h2 sup {
    font-size: 20px;
  }
  .testdrive-contact .contact-form-holder .contact-form-text-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .testdrive-contact .contact-form-holder .contact-form h3 {
    font-size: 20px;
  }
  .testdrive-contact .contact-form-holder .contact-form .main-form {
    width: 100%;
  }
  .testdrive-contact .contact-form-holder .contact-form .main-form input[type=radio] {
    font-family: "Roboto";
    font-size: 13px;
  }
}
@media all and (max-width: 360px) {
  .testdrive-contact .contact-form-holder .contact-form-text-content {
    padding-inline: 10px;
    padding-block: 60px;
  }
  .testdrive-contact .contact-form-holder .contact-form-text-content h2 {
    font-size: 24px;
  }
  .testdrive-contact .contact-form-holder .contact-form-text-content h2 sup {
    font-size: 20px;
  }
  .testdrive-contact .contact-form-holder .contact-form-text-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .testdrive-contact .contact-form-holder .contact-form {
    padding-inline: 10px;
  }
  .testdrive-contact .contact-form-holder .contact-form h3 {
    font-size: 18px;
  }
  .testdrive-contact .contact-form-holder .contact-form .main-form {
    width: 100%;
    text-align: center;
  }
  .testdrive-contact .contact-form-holder .contact-form .main-form input[type=radio] {
    font-family: "Roboto";
    font-size: 13px;
  }
}
footer {
  padding-top: 90px;
}

.footer-container {
  width: 100%;
  height: 427px;
  background-color: #E6E6E6;
  max-width: 2000px;
  margin: auto;
}
.footer-container .footer-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: 35px;
  padding-inline: 278px;
  position: relative;
}
.footer-container .footer-links::before {
  position: absolute;
  content: " ";
  border: 1px solid #BEBEBE;
  width: 72%;
  bottom: 20px;
  opacity: 50%;
}
.footer-container .footer-links h3 {
  color: #707070;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
}
.footer-container .footer-links .social-media a {
  padding-inline: 10px;
}
.footer-container .footer-links .social-media img {
  width: 32px;
}
.footer-container .footer-links .social-media img:hover {
  background-color: #fff;
  border-radius: 10px;
  transform: translateY(-5px);
  transition: 0.3s;
}
.footer-container .footer-content-holder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  margin: auto;
}
.footer-container .footer-content-holder .footer-content-item {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.footer-container .footer-content-holder .footer-content-item h3 {
  color: #707070;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: lighter;
}
.footer-container .footer-content-holder .footer-content-item a {
  text-decoration: none;
  color: #707070;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-container .footer-content-holder .footer-content-item a:active,
.footer-container .footer-content-holder .footer-content-item a :visited,
.footer-container .footer-content-holder .footer-content-item a :checked {
  text-decoration: none;
}
.footer-container .footer-content-holder .footer-content-item a:hover {
  color: white;
}

.copy-rights {
  color: #4E4E4E;
  font-size: 14px;
  font-family: "Open Sans";
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
}

@media all and (max-width: 1222px) {
  .footer-container .footer-links {
    padding-inline: 20px;
  }
  .footer-container .footer-links::before {
    width: 84%;
  }
  .footer-container .footer-content-holder {
    justify-content: center;
    width: 100%;
  }
}
@media all and (max-width: 830px) {
  .footer-container {
    height: auto;
  }
  .footer-container .footer-links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-inline: 120px;
    width: 70%;
    margin-bottom: 90px;
  }
  .footer-container .footer-links::before {
    width: 84%;
  }
  .footer-container .footer-links h3 {
    margin-bottom: 30px;
  }
  .footer-container .footer-links .social-media {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer-container .footer-links .social-media a {
    padding-inline: 0;
    padding-right: 20px;
  }
  .footer-container .footer-content-holder {
    flex-direction: column;
    width: 70%;
  }
  .footer-container .footer-content-holder .footer-content-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    padding-bottom: 60px;
  }
}
@media all and (max-width: 568px) {
  footer {
    padding-top: 0px;
  }
  .footer-container {
    height: auto;
  }
  .footer-container .footer-links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 90px;
    padding-inline: 70px;
  }
  .footer-container .footer-links::before {
    width: 74%;
  }
  .footer-container .footer-links h3 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: lighter;
  }
  .footer-container .footer-links .social-media {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer-container .footer-links .social-media a {
    padding-inline: 0;
    padding-right: 20px;
  }
  .footer-container .footer-content-holder {
    flex-direction: column;
    width: 60%;
  }
  .footer-container .footer-content-holder .footer-content-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    padding-bottom: 60px;
  }
  .footer-container .footer-content-holder .footer-content-item a {
    font-size: 12px;
    font-weight: 400;
  }
  .footer-container .footer-content-holder .footer-content-item h3 {
    font-size: 20px;
  }
}
@media all and (max-width: 350px) {
  footer {
    padding-top: 0px;
  }
  .footer-container {
    height: auto;
  }
  .footer-container .footer-links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 90px;
    padding-inline: 30px;
  }
  .footer-container .footer-links::before {
    width: 74%;
  }
  .footer-container .footer-links h3 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: lighter;
  }
  .footer-container .footer-links .social-media {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer-container .footer-links .social-media a {
    padding-inline: 0;
    padding-right: 20px;
  }
  .footer-container .footer-content-holder {
    flex-direction: column;
    width: 60%;
  }
  .footer-container .footer-content-holder .footer-content-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    padding-bottom: 60px;
  }
  .footer-container .footer-content-holder .footer-content-item a {
    font-size: 12px;
    font-weight: 400;
  }
  .footer-container .footer-content-holder .footer-content-item h3 {
    font-size: 20px;
  }
}
.swiper-menu .hamburger-lines {
  height: 26px;
  width: 32px;
  position: relative;
  top: 15px;
  left: 30px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.swiper-menu .hamburger-lines .line {
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: white;
}
.swiper-menu .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: 0.3s ease-in-out;
}
.swiper-menu .hamburger-lines .line2 {
  transition: 0.3s ease-in-out;
}
.swiper-menu .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: 0.3s ease-in-out;
}
.swiper-menu .hamburgerOpen {
  position: relative;
  top: 100px;
  left: 272px;
}
.swiper-menu .hamburgerOpen .line1 {
  transform: rotate(50deg);
  background-color: #858585;
}
.swiper-menu .hamburgerOpen .line2 {
  transform: scaleY(0);
}
.swiper-menu .hamburgerOpen .line3 {
  transform: rotate(-50deg);
  background-color: #858585;
}

.hamburger-nav {
  display: none;
}

.menu-opened .swiper-holder .swiper .swiper-menu {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  position: fixed;
}
.menu-opened .swiper-holder .swiper .swiper-menu .hamburger-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu-opened .swiper-holder .swiper .swiper-menu .hamburger-nav a {
  font-size: 16px;
  font-family: "Cairo";
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-block: 20px;
}
.menu-opened .swiper-holder .swiper .swiper-menu .hamburger-nav a:link,
.menu-opened .swiper-holder .swiper .swiper-menu .hamburger-nav a :visited,
.menu-opened .swiper-holder .swiper .swiper-menu .hamburger-nav a :active {
  text-decoration: none;
  color: white;
}
.menu-opened .swiper-holder .swiper .swiper-menu .hamburger-nav a:nth-last-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 269px;
  height: 46px;
  background-color: #3369D3;
  font-size: 14px;
  font-family: "Cairo";
  margin-top: 100px;
}
.menu-opened .swiper-holder .swiper .swiper-menu .hamburger-nav .innovations-link {
  position: relative;
  margin: 30px;
}
.menu-opened .swiper-holder .swiper .swiper-menu .hamburger-nav .innovations-link::after {
  position: absolute;
  content: " ";
  width: 250px;
  height: 1px;
  background-color: #343434;
  margin: -20px 50px 0px -20px;
  left: 0;
  right: 0;
}
.menu-opened .swiper-holder .swiper .swiper-menu .hamburger-nav .innovations-link::before {
  position: absolute;
  content: " ";
  width: 250px;
  height: 1px;
  background-color: #343434;
  margin: 50px 50px 0px -20px;
  left: 0;
}

@media all and (min-width: 887px) {
  .menu-opened {
    display: none;
  }
  .swiper-menu .hamburger-lines {
    display: none;
  }
}
@media all and (max-width: 886px) {
  .swiper-menu .hamburgerOpen {
    position: relative;
    top: 100px;
    left: 91%;
  }
}
@media all and (max-width: 666px) {
  .swiper-menu .hamburgerOpen {
    position: relative;
    top: 100px;
    left: 88%;
  }
}
@media all and (max-width: 548px) {
  .swiper-menu .hamburgerOpen {
    position: relative;
    top: 100px;
    left: 85%;
  }
}
@media all and (max-width: 440px) {
  .swiper-menu .hamburgerOpen {
    position: relative;
    top: 100px;
    left: 80%;
  }
}/*# sourceMappingURL=style.css.map */