// MOBILE
.opened-menu {
    .opened-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 50%;
        height: 106vh;
        right: 0;
        top: 0;
        justify-content: center;
        animation: navBar 0.3s ease-in-out;

        @keyframes navBar {
            0% {
                width: 0%;
            }

            100% {
                width: 50%;
            }
        }

        .active {
            margin-left: 0;

            &::before {
                display: none;
            }
        }

        a {
            font-size: 16px;
            letter-spacing: 2.6px;
            margin-bottom: 32px;
            display: flex;
            width: 50%;
            animation: mobilelinks 0.5s ease-in-out;

            @keyframes mobilelinks {
                0% {
                    color: black;
                    overflow: hidden;
                    transform: rotate(10deg);
                }

                100% {
                    display: flex;
                }

            }

            &:hover {
                &::before {
                    display: none;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            .nav-span {
                display: block;
                font-weight: bold;
                font-size: 16px;
                margin-right: 11px;
            }
        }
    }

    .mobile-hamburger {
        .line1 {
            transform: rotate(45deg);
            transform-origin: 30%;
            animation: line1Mobile 0.3s ease-in-out;
        }

        .line2 {
            display: none;
        }

        .line3 {
            transform: rotate(-45deg);
            transform-origin: 25%;
            animation: line3Mobile 0.3s ease-in-out;
        }
    }

    @keyframes line1Mobile {
        0% {
            transform: rotate(0);
        }

        50% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(45deg);
        }
    }

    @keyframes line3Mobile {
        0% {
            transform: rotate(0);
        }

        50% {
            transform: rotate(-180deg);
        }

        100% {
            transform: rotate(-45deg);
        }
    }
}


@media all and (max-width:720px) {
    .main-header {
        .main-nav {
            display: none;
        }

        .opened-nav {
            display: flex;
        }
    }

    .mobile-hamburger {
        display: flex;
        flex-direction: column;
        margin-right: 24px;
        cursor: pointer;

        .hamburger-lines {
            width: 34px;
            margin-block: 4px;
            height: 3px;
            background-color: #D0D6F9;

            .line1 {
                animation: line1MobileClose 03s ease-in-out;
            }

            .line3 {
                animation: line3mobileClose 0.3s ease-in-out;
            }

            @keyframes line1MobileClose {
                0% {
                    transform: rotate(45);
                }

                50% {
                    transform: rotate(180deg);
                }

                100% {
                    transform: rotate(0);
                }
            }

            @keyframes line3MobileClose {
                0% {
                    transform: rotate(-45deg);
                }

                50% {
                    transform: rotate(-180deg);
                }

                100% {
                    transform: rotate(0);
                }
            }

        }
    }

}

@media all and (min-width:721px) {
    .mobile-hamburger {
        display: none;
    }
}