header {
    max-width: 2000px;
    margin: auto;
}

.main-nav-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    img {
        width: 200px;
        height: 120px;
        object-fit: contain;
    }

    .main-nav {

        a:visited,
        a:link,
        a:active {
            text-decoration: none;
            color: black;
        }

        a {
            margin-inline: 30px;
            font-size: 1.3rem;
            padding: 15px;
            font-family: $menu-font;
            border-radius: 35px;
            position: relative;

            &:hover {
                color: $navigation-color;
                transition: 0.4s;

                &::before {
                    content: "";
                    position: absolute;
                    background-color: $navigation-color;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    animation: menuAnmation 0.4s ease-in-out;
                }

            }
        }
    }
}


.main-page-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../images/navbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 816px;

    .header-contact {
        display: block;
        width: 35%;
        height: 816px;
        text-align: center;
        letter-spacing: 1px;
        margin-top: 270px;
        #header-span1 {
            font-family: $header-font;
            font-size: 30px;
            color: rgb(85, 81, 81);
        }

        #header-span2 {
            font-family: $header-font;
            font-size: 45px;
            color: rgb(85, 81, 81);
        }

        .contact-btn {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-inline: auto;
            margin-top: 10px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $header-font;
                font-size: 40px;
                color: white;
                background-color: rgba(224, 62, 224, 0.329);
                width: 70%;
                height: 100px;
                border-radius: 50px;

                &:hover {
                    background-color: grey;
                    transform: translateX(10px);
                    transition: 0.3s;
                }
            }

            #callbtn {
                animation: callbtn 3s infinite;
            }
        }
    }
}

@keyframes menuAnmation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
