.contact-page-holder {
    border: 3px solid rgb(214, 191, 177);
    margin-block: 60px;

    p {
        padding-block: 30px;

    }

    .contact-item-holder {
        display: flex;
        justify-content: space-between;
        padding: 50px;

        .contact-item {
            width: 49%;
            text-align: center;

            #phonenumber {
                font-weight: bold;
            }

            hr {
                width: 50%;
                background-color: white;
            }

            table {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;

                .opens,
                .closes {
                    padding: 8px;
                }

                .day {
                    text-align: left;
                }

            }

        }

    }

    .contact-item-map {
        width: 100%;

        h3 {
            text-align: center;
            background-color: rgb(214, 191, 177);
            border-radius: 15px;
        }

        iframe {
            width: 100%;
            padding-block: 20px;
        }
    }
}