.gallery-main {

    h1 {
        text-align: center;
    }

    .gallery-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 60px;
        
        .item-content {
            width: 49%;
        }

        .item-image {
            width: 49%;

            img {
                width: 100%;
            }
        }
    }
}