* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding-block: 100px;
}

.about-me {
    padding-bottom: 50px;
}

li a:active,
li a:link,
li a:visited {
    text-decoration: none;
    color: white;
}

a:active,
a:link,
a:visited {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    transition: 1s;
    position: fixed;
    z-index: 10;
}

.bgscroll {
    background-color: #313F74;
}

.menu-opened .main-header-container {
    display: flex;
    background-color: #313F74;
    width: 100%;
    transition: 1s;
}

.menu-opened .main-nav-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 10px;
    animation: MenuTransform 1s ease-in-out;
}

.menu-opened .main-nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: 1s;
}

.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffff;
}

.main-nav-bar .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: 0.3s ease-in-out;
}

.main-nav-bar .hamburger-lines .line2 {
    transition: 0.3s ease-in-out;
}

.main-nav-bar .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: 0.3s ease-in-out;
}

.main-nav-bar .hamburgerOpen .line1 {
    transform: rotate(45deg);
}

.main-nav-bar .hamburgerOpen .line2 {
    transform: scaleY(0);
}

.main-nav-bar .hamburgerOpen .line3 {
    transform: rotate(-45deg);
}

.img-holder-container {
    position: absolute;
    top: 10;
    right: 0;
}

.main-nav-holder {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100px;
}

.main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 20px;
}

.main-nav-bar li {
    margin: 0 20px;
    display: inline-block;
    list-style: none;
    color: #ffff;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
}

.main-nav-bar li a:hover {
    cursor: pointer;
    color: grey;
}

.menu-opened li:hover {
    cursor: pointer;
    color: #427098;
}

.main-nav-bar ul {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-inline: 20px;
    margin-inline: auto;
}

.author-container-bg {
    position: absolute;
    top: -10%;
    right: -30%;
}

.author-bg-container {
    display: flex;
    align-items: center;
    height: 100vh;
    max-height: 1300px;
    min-height: 800px;
    padding-top: 100px;
    position: relative;
}

.author {
    background-color: #313F74;
    background-image: url('img/Vector.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top -200px right -50%;
}

.author-container img {
    height: 24px;
    width: auto;
}

.header-content-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-author-info {
    width: auto;
    margin-left: 12%;
    animation: author 3s ease-in-out;
}

.main-author-info img {
    width: auto;
    object-fit: cover;
}

.main-author-info h2 {
    font-family: 'Poppins';
    font-size: 54px;
    color: white;
    letter-spacing: 3px;
}

.about-me-container {
    display: block;
    width: 100%;
    min-height: 816px;
    max-width: 1200px;
    padding-inline: 20px;
    margin: auto;
}

.about-me-container h2 {
    width: 100%;
    font-family: 'Poppins';
    font-size: 36px;
    text-align: center;
    color: #313F74;
}

.about-img-holder {
    display: flex;
    justify-content: flex-end;
    width: 49%;
}

.about-me-content {
    width: 49%;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-content p {
    text-align: center;
}

.about-me-holder {
    max-width: 1200px;
    padding-inline: 20px;
    margin: auto;
}

.about-main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills {
    background-color: #313F74;
    background-image: url('img/Skills.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.skills-content-holder {
    max-width: 1200px;
    padding-inline: 20px;
    margin: auto;
    width: 100%;
}

.skills-main-container {
    width: 100%;
    display: block;
}

.skills-main-container h2 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 36px;
    color: white;
}

.skills-main-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0px;
    width: 100%;
}

.skill-item-holder {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.skill-item {
    display: block;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 26px;
    color: #F00C6C;
}

.skill-item .skill-subitem li {
    margin: 10px 0;
    display: block;
    font-family: 'Poppins';
    font-size: 18px;
    list-style: none;
    text-align: center;
    font-weight: bold;
    color: white;
}

#skillPrimarySpan {
    font-size: 18px;
    margin-right: 10px;
}

.actually-learning-container {
    display: flex;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 26px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.learning-content {
    margin-bottom: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.Portfolio {
    padding-block: 100px;
}

.main-portfolio-container {
    display: block;
    width: 100%;
    min-height: 813px;
}

.main-portfolio-container h2 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 36px;
    color: #427098;
    margin-bottom: 100px;
}

.portfolio-item {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
}

.portfolio-item i:hover {
    cursor: pointer;
    color: #313F74;
}

.portfolio-item span:hover {
    color: #F00C6C;
    cursor: pointer;
}

.portfolio-img-holder {
    width: 49%;
}

.portfolio-img-holder img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.portfolio-content-holder h3 {
    font-family: 'Poppins';
    font-size: 36px;
    color: #F00C6C;
    margin-bottom: 20px;
}

.portfolio-content-holder .fa-brands {
    margin-top: 30px;
    font-size: 32px;
    color: #F00C6C;
}

.portfolio-content-holder span {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: bold;
    color: #313F74;
    margin-left: 20px;
}

.portfolio-content-holder p {
    font-family: 'Poppins';
    font-size: 16px;
}

.portfolio-content-holder {
    width: 49%;
    margin: 0px 20px;
}

.main-contact-holder {
    display: block;
    width: 100%;
    height: 816px;
    position: relative;
}

.contact-img-holder {
    width: 49;
}

.contact-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.main-contact-holder h2 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 36px;
    color: #313F74;
}

.contact-details {
    display: block;
    text-align: left;
}

.contact-details span {
    display: block;
    font-family: 'Poppins';
    font-size: 24px;
    color: #313F74;
    margin: 30px 0px;
}

.contact-details strong {
    font-family: 'Poppins';
    color: #F00C6C;
    font-weight: bold;
}

.contact-details i {
    font-size: 32px;
    color: #F00C6C;
    margin: 0px 10px;

}

.contact-details i:hover {
    cursor: pointer;
    color: #313F74;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #313F74;
    width: 100%;
    height: 96px;
    color: white;
    font-family: 'Poppins';
}
.footer strong {
    margin:5px ;
}

@keyframes author {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes MenuTransform {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes liElements {
    0% {
        margin: 0%;
    }

    100% {
        margin: 30px 0px;
    }
}

@media all and (max-width:1200px) {
    .about-main-container {
        display: block;
    }

    .about-me-content p {
        font-size: 16px;
    }

    .about-img-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 30px auto;
    }

    .about-me-content {
        width: 100%;
        margin: 30px 0px;
        text-align: center;
    }

    .portfolio-img-holder {
        width: 49%;
    }

    .portfolio-img-holder img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    /* CONTACT */
    .main-contact-holder {
        height: 600px;
    }

    .contact-details-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .contact-img-holder {
        width: 30%;
        position: absolute;
        right: 0;
        bottom: 20px;
    }

    .contact-img-holder img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .contact-details {
        display: block;
        text-align: center;
        z-index: 1;
    }

    .portfolio-item {
        width: 80%;
    }
}

@media all and (min-width:1025px) {

    .main-nav-holder .hamburger-lines .line {
        display: none;
    }
}

@media all and (min-width:1024px) {

    .main-nav-holder .hamburger-lines line {
        display: block;
    }

    .menu-opened .main-nav-holder {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        height: 100px;
    }

}

@media all and (max-width:1024px) {
    .main-nav-bar ul {
        display: none;
    }

    .menu-opened .main-nav-holder {
        width: 100%;
        height: 100vh;
    }

    .menu-opened .main-nav-holder ul {
        display: block;
    }

    .menu-opened .main-nav-bar li {
        display: block;
        animation: liElements 2s ease-in-out;
        margin: 30px 0px;
    }

    .menu-opened .author-container {
        display: none;
    }
}

@media all and (max-width:992px) {

    .menu-opened .main-nav-holder {
        width: 100%;
        height: 100vh;
    }

    .menu-opened .main-nav-holder ul {
        display: block;
    }

    .menu-opened .main-nav-bar li {
        display: block;
        animation: liElements 2s ease-in-out;
        margin: 30px 0px;
    }

    .menu-opened .author-container {
        display: none;
    }

    .skill-item-holder {
        width: 70%;
    }

    .portfolio-item {
        width: 100%;
        min-height: 300px;
        padding: 10px;
        flex-direction: column;
    }

    #spaImg {
        flex-direction: column-reverse;
    }

    .portfolio-img-holder {
        width: 100%;
    }

    .portfolio-img-holder img {
        width: 100%;
    }

    .portfolio-content-holder {
        width: 100%;
        height: 33%;
        padding: 20px;
        margin: 0px;
    }

    .portfolio-content-holder p {
        font-size: 16px;
    }

    /* Contact */
    .contact-details-container {
        display: block;
        margin: auto;
    }

    .contact-details {
        display: block;
        text-align: center;
    }

    .contact-img-holder {
        z-index: -1;
        bottom: 45px;
    }
}

@media all and (max-width:779px) {
    .skills-content-holder h2 {
        margin-block: 40px;
    }

    .menu-opened .main-nav-holder {
        width: 100%;
        height: 100vh;
    }

    .menu-opened .main-nav-holder ul {
        display: block;
    }

    .menu-opened .main-nav-bar li {
        display: block;
        animation: liElements 2s ease-in-out;
        margin: 30px 0px;
    }

    .menu-opened .author-container {
        display: none;
    }

    .skills-main-holder {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .learning-content {
        display: block;
        justify-content: flex-start;
    }

    .about-img-holder {
        height: 50%;
        width: 100%;
    }

    .about-img-holder img {
        width: 100%;
        height: 100%;
    }

    .about-me-content {
        width: 100%;
        height: 49%;
        font-size: 16px;
    }

    .skill-item-holder {
        width: 100%;
        flex-direction: column;
        row-gap: 30px;
        margin-bottom: 50px;
    }

    .contact-details-container {
        display: block;
    }

    .contact-img-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        width: 50%;
        margin-inline: auto;
        max-height: 380px;
    }

    .contact-img-holder img {
        max-height: 380px;
    }

    .portfolio-item {
        padding: 0px;
        margin-bottom: 0px;
    }

    .contact-details {
        margin: 20px 0px;
    }
}

@media all and (max-width:576px) {

    .main-author-info {
        width: 100%;
        margin: 0;
        animation: author 3s ease-in-out;
    }

    h2 {
        font-size: 24px !important;
    }

    strong {
        display: block;
        font-size: 13px;
    }

    .main-author-info h2 {
        font-size: 24px;
    }

    .main-author-info img {
        width: 90%;
        object-fit: cover;
    }

    .portfolio-content-holder {
        margin: 0;
    }

    .skill-item-holder {
        width: 100%;
    }

    .portfolio-item {
        width: 100%;
        padding: 10px;
    }

    .skill-item-holder .skill-item h3 {
        font-size: 20px;
    }

    .skill-item-holder .skill-item .skill-subitem li {
        font-size: 14px;
    }

    .learning-content span {
        font-size: 16px;
    }

    .footer span {
        font-size: 16px;
    }

    .contact-details span {
        font-size: 20px;
    }

    .contact-img-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        left: 50px;
        max-height: 380px;
        bottom: 100px;
    }

    .contact-img-holder img {
        max-height: 380px;
    }

    #skillPrimarySpan {
        font-size: 14px;
    }
}

@media all and (max-width:420px) {
    .main-author-info h2 {
        font-size: 24px;
    }

    .learning-content span {
        display: block;
    }

    .portfolio-content-holder p {
        font-size: 14px;
    }

    .skill-subitem li {
        font-size: 10px;
    }

    .skills-content-holder {
        padding-inline: 10px;
    }
}