* {
    box-sizing: border-box;
}

html,body {
    margin:0px;
    padding: 0px;
    scroll-behavior: smooth;
}

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}