* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: rgba(231, 228, 228, 0.034);
}

a:link,
a:visited,
a:checked {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4 {
    font-family: $header-font;
    color: $header-color;
}

p {
    font-size: 24px;
    font-family: $primary-font;
}

.container {
    max-width: 1240px;
    padding-inline: 20px;
    padding-bottom: 100px;
    margin: auto;
}